<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= record.title %></title>
</head>
<body>
   <h1><%= record.title  %></h1>
   <h3><%= record.rating  %> stars</h3>
   <h3><%= record.description  %></h3>
   <a href="/records/<%=record.id%>/edit">Edit <%=record.title%></a>
   <form action="/records/<%=record._id%>?_method=DELETE" method="POST">
    <button>Delete <%=record.title%></button>
</form>
</body>
</html>