<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=artist.name%></title>
</head>
<body>
    <h1><%=artist.name%></h1>
    <h2><%=artist.type%></h2>
    <a href="/artists/<%=artist._id%>/edit">Edit Artist</a>
    <form action="/artists/<%=artist._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </body>
</body>
</html>